/**CSS**/

body{
    margin: auto;
    padding-right: 40px;
    padding-left: 40px;
    width: 100%;
}

.logo{
    width: 100%;
}

p{
    color: blue;
}

input.input_rechercher {
background-color:white;
color:black ;
width:130px; 
height: 30px;
border-radius: 5px 0px 0px 5px;
}

input.btn_rechercher  {
background-color: blue;
color:white ;
width:130px; 
height: 30px;
border-radius: 0px 5px 5px 0px;
font-size: 18px;
}

input.input_rechercher { 
height: 25px;
}

.menu{
    float: right;
    margin-top: 0;
}

.menu ul{
    display: flex;
    list-style-type: none;   
    color: black;
   
}

.menu ul li{
padding:30px 50px 10px 15px;
font-size: 15px;
color: black;
}

.menu ul li:hover{
    color:blue;
    border-top: 1px solid blue;
}

.filtres ul{
padding-left: 100px;
}

.global-thumb{
    background-color: gainsboro;
    width: 525px;
    padding-bottom: 43px;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#conteneur1 .thumb{
    width: 170px;
    height: 200px;
}

section .img{

    border-radius: 23% 23% 0% 0%;
}

#conteneur2{
    background-color: gainsboro;
    margin-left: 44px;
    width: 250px;
    /* display: flex; */
    float: left;
    flex-wrap: wrap;
    text-align: center;
}

#conteneur2 .thumb{
    width: 136px;
    margin-left: 54px;
}



h6{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
text-align: left;
margin:0;
} 

p{
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
color: black;
text-align: left;
}

.etoiles .fas {
text-align: left;
color: #0065FC;
}

a{
    color:black;
    text-decoration: none;
}

.img{
background-color: white;
border-radius: 23% 23% 0% 0%;
}

section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    float: left;
    background-color: gainsboro;
}

.texte {
float: right;

}

#conteneur3{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 32%;
}

.thumb{
    margin-bottom: 30px;
    background-color: white;
    text-align: center;
    border-radius: 30px;
}

footer{
    float: left; 
    background-color: gainsboro; 
    width: 100%;
    margin:0 auto; 
}

footer ul{
   float: left; 
   padding-left: 150px;
}

footer li{
list-style-type: none;
font-size: 13px;
font-family:Arial, Helvetica, sans-serif;
padding-bottom: 12px;
color: grey;
}

footer li :nth-child(1){
font-weight: bold;
color: black;
}