/**CSS**/

body{
    margin: auto;
    width: 100%;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    margin-left: 35px;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    margin-left: 35px;
}

h5{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    margin-left: 35px;
}

h6{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    text-align: center;
    margin:0;
} 

h7{
    font-family: 'Raleway', sans-serif;
    text-align: right;
    font-weight: bold;
    padding-right: 35px;
}

.logo{
    width: 100%;
    margin-left: 35px;
}

p{
    color: blue;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: black;
    text-align: left;
    padding-left: 35px;
}

input.btn_rechercher{
    background-color: blue;
    color: white;
    width: 130px;
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    font-size: 18px;
    border:none;
}

input.input_rechercher{ 
height: 25px;
}

.menu{
    float: right;
    margin-top: 0;
    padding-right: 5%;
}

.menu ul{
    display: flex;
    list-style-type: none;   
    color: black;
}

.menu ul li{
padding:30px 50px 10px 15px;
font-family: 'Raleway', sans-serif;
font-size: 15px;
color: black;
font-weight: bold;
}

.menu ul li:hover{
    color:blue;
    border-top: 1px solid blue;
}

.menu ul li:nth-child(3){
    color:blue;
    font-weight: 700;
}

.menu ul li:first-child{
    color:blue;
}

.menu-responsive{
    display:none;
}

.Filtres p i {
    color: #0065fc;
    width: 1.7em;
    height: 1.7em;
    border-radius: 15px;
    margin-right: 9px;
    border: 1.5px solid #d9d9d9;
    min-width: 1.7em;
    line-height: 1.5em;
    text-align: center;        
}


.Filtres ul {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 10px;
}

.Filtres ul li.one {
    /* le texte et l'icone*/
    border-bottom: 1.5px solid #d9d9d9;
    border-top: 1.5px solid #d9d9d9;
    border-right: 1.5px solid #d9d9d9;
    border-radius: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 15px;
    padding-right: 15px;
    height: 2.5em;
    margin-bottom: 10px;
    display: inline-flex;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
  }

  .Filtres ul li.two {
    /* le texte et l'icone*/
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding:3px;
    display: inline-flex;
    font-size:1em;
  }

.Filtres ul li:hover {
    /*changement au survol*/
    border-bottom: 1.5px solid #deebff;
    border-top: 1.5px solid #deebff;
    border-right: 1.5px solid #deebff;
    background-color: #deebff;
    cursor: pointer; /*changement d'état de la souris*/
  }

  .Filtres ul li i {
    /*les icônes des filtres*/
    color: #0065fc;
    background-color: #deebff;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;

  }

/* filtres */

.alignement{
    padding-left: 35px;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: black;
}

.etoiles{
    text-align: center;
    color: #0065FC;
}

.etoiles .grey{
    color: grey;
}

.section2 .etoiles{
    text-align: left;
}

.fa-chart-line{
    float: right;
    padding-right: 5%;
}

a{
    color:black;
    text-decoration: none;
}

.img{
    background-color: white;
}

.texte{
    float: right;
    padding-left: 16px;
}

section{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    float: left;
    background-color:#F2F2F2;
    border-radius: 8px;
}

.section1{
    width: 60%;
    margin-right: 35px;
    margin-left: 35px;
}

.section1 .thumb{
    width: 25%;
    display: inline-flex;
    margin-left: 30px;
}

.section1 .img{
    width: 100%;
    height: 109px;
    border-radius: 8px 8px 0px 0px;
}

.section2{
    width: 30%; 
    height:612px;
}

.section2 img{
    width: 100%;
    max-width: 100px;
    height: 88px;
    border-radius: 8px 0 0 8px;
}

.section2 p {
    text-align: left;
    padding-left: 0px;
}

.section2 .thumb{
    width: 80%;
    display: inline-flex;
    margin-left: 30px;
    margin-bottom: 49px;

}

.section3 img.img_hauteur{
    height: 360px;
}

.section3{
    width: 100%;
    flex-wrap: wrap;
    display: inline;
    background:none;
}

.section3 .box{
    width: 100%;
    height: auto;
    margin-bottom: 10%;
    padding-bottom: 5%;
    box-shadow: 2px 5px 16px #f1f1f1;
    border-radius: 12%;
}


.section3 .thumb{
    float: left;
    padding-left: 3%;
}

.section3 img{
    width: 100%;
    max-width: 265px;
    height: 151px;
    border-radius: 8% 8% 0 0;
}

.section3 h6{
    text-align: left;
    padding-left: 15px;
}

.thumb{
    margin-bottom: 30px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    padding:2px;
}

/** ICONES **/

input[type=text]{
    width:100%; 
    max-width:250px; 
    border:2px solid #f2f2f2; 
    border-radius:21px; 
    margin:8px; 
    outline:none; 
    padding:8px; 
    box-sizing:border-box; 
}

.input[type=text]{
    height:35px;
}

.input-icone input[type=text]{
    padding-left:35px; 
    text-align: center;
}

.input-icone{
    position:relative; 
    display: inline-flex;
}

.input-icone i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 10px 5px;
    color: blue;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin-left: 6px;
}

.rechercher i{
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    background-color: blue;
    margin-left: 100%;
    color: white;
    width: 40px;
    border-radius: 0px 15px 15px 0px;
    font-size: 18px;
    border:none;
    text-align: center;
    display: none;
}


input[type=text]:hover{
    background: gainsboro;
}

.input-icone i#localisation{
    color: black;
    background-color: gainsboro;
    padding: 13px;
    left: -14px;
    top: 0px;
    border-radius: 30% 0 0 30%; 
    margin-left: 46px;  
}

input[type="search"]{
    width: 100%;
    height: 40px;
    color: black;
    margin-left: 85px;
}

fa-info-circle i#information{
    color: white;
    background-color:gainsboro;
}

footer{
    float: left;
    background-color: #F2F2F2;
    width: 100%;
    margin: 0 auto;
    /* position: absolute; */
    bottom: 0;
}

footer ul{
   float: left; 
   padding-left: 150px;
}

footer li{
    list-style-type: none;
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 12px;
    color: grey;
}

footer li :nth-child(1){
    font-weight: bold;
    color: black;
}


/** RESPONSIVE**/ 
@media only screen and (max-width: 576px) {

    .section1{
        background: none;
        margin: 0;
    }
     
    #regroupement {
        flex-direction: column-reverse;
        display: flex;
    }
    .menu{
        display:none;
    }

    .menu-responsive{
        display: inline-flex;
        list-style-type: none;   
        color: black;
    }

    .menu-responsive nav ul li{
        display: inline-flex;
        list-style-type: none;   
        color: black;
        padding:30px 50px 10px 15px;
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        color: black;
        flex-basis: 50%;
    }

    .menu-responsive a.sinscrire{
        float:right;
        color: blue;
        font-weight: bold;
        list-style-type: none;
        font-family: 'Raleway', sans-serif; 
    }

    .menu-responsive nav ul li:hover{
        color:blue;
        border-bottom: 1px solid blue;
    }
    
    .rechercher input{
        display: none;
    }

    .rechercher i {
        display: block;
    }

    .section1 .thumb{
        display:flex;
        flex-direction: row-reverse;
        margin: auto;
        width: 100%;
    }

    .h7 {
        background-color: white;
    }

    .section2 .thumb{
        height: 86px;
        
    }
    .section3 .thumb{
        display:flex;
        flex-direction: column;
    }
    
    footer ul{
        float: initial; 
    }
    
    footer {
        width: 414px;
    }
}


@media screen and (max-width: 940px){

    .section3{
        display:flex;
    }
    
    .section3 .box{
        max-width: 500px;
        margin:auto;
        margin-bottom:10px;
        margin-left: 10px;
    }

    .section1 .box1{
        box-shadow: 2px 5px 16px #f1f1f1;
        max-width: 500px;
        margin:auto;
        margin-bottom: 10px;
        border-radius: 12%;
    }

    .section1 .texte_box1{
    text-align: left;    
    }

    .section3 img{
       max-width: 500px;
    }

    .section3 img.img_hauteur{
        height: 163px;
    }

    .section1 .img{
        height: 139px;
        max-width: 500px;
    }


    .section1 .thumb{
        display:flex;
        flex-direction: column;
        width: 100%;
        padding-left: 18px;
    }

    .section3 .thumb{
        display:flex;
        flex-direction: column;
    }

}
@media screen and (max-width: 740px){
    
    .section1{
    width: 100%;
    }

    .section2{
    width:113%;
    }

    .section3{
    width:100%;
    }

    .h6 {
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        text-align: left;
        margin: 35px;
    }

    .p {
        padding-left: ;
    }
    .etoiles {
        text-align: left;
        padding-left: 31px;
    }
}